In [ ]:
# Import Pandas Library

import pandas as pd

In [ ]:
# Read csv file

cars24_df=pd.read_csv("uncleaned_cars24_data.csv")

In [ ]:
# Print a concise summary of the DataFrame

cars24_df.info()

In [ ]:
# Changing the datatype of brand column to string

cars24_df["brand"] = cars24_df["brand"].astype(str)

In [ ]:
# Fetching the first word from the string

cars24_df["CAR_MODEL"] = cars24_df["brand"].str.split().str[0]

In [ ]:
# Replacing unnecessary characters

cars24_df['CAR_MODEL'] = cars24_df['CAR_MODEL'].str.replace("[",'')
cars24_df['CAR_MODEL'] = cars24_df['CAR_MODEL'].str.replace("'",'')

In [ ]:
# Fetching the second word from the string

cars24_df["BRAND"] = cars24_df["brand"].str.split().str[1]

In [ ]:
# Creating a lamda function to fetch the car name

cars24_df["CAR_NAME"] = cars24_df["brand"].str.split().apply(lambda x: f"{x[1]} {x[2]}" if len(x) > 2 else "")

In [ ]:
# Creating a lamda function to fetch the car variant

cars24_df["CAR_VARIANT"] = cars24_df["brand"].str.split().apply(lambda x: " ".join(x[3:]) if len(x) > 3 else "")

In [ ]:
# Replacing unnecessary characters

cars24_df['CAR_VARIANT'] = cars24_df['CAR_VARIANT'].str.replace("']", '')

In [ ]:
# Droping the brand column after extracting necessary values

del cars24_df["brand"]

In [ ]:
# Splitting rege column on the number

cars24_df[["Registration_no", "dummy"]]=cars24_df["rege"].str.split("number",expand=True)

In [ ]:
# Splitting dummy column on the capacity

cars24_df[["registr_no", "dummy1"]]=cars24_df["dummy"].str.split("capacity",expand=True)

In [ ]:
# Drop unwanted column location1

cars24_df.drop(columns=["LOCATION1"],inplace=True)

In [ ]:
# Slicing the dummy column

cars24_df["rege_no"]=cars24_df["dummy"].str[0:12]

In [ ]:
# Splitting dummy column on the transmission 

cars24_df[["dummy4", "transmission"]]=cars24_df["dummy"].str.split("Transmission ",expand=True)

In [ ]:
# Splitting transmission column on the driven

cars24_df[["km_driven", "dummy"]]=cars24_df["transmission"].str.split("driven ",expand=True)

In [ ]:
# Replacing unnecessary characters 

cars24_df["transmission"]=cars24_df["km_driven"].str.replace("KM","")

In [ ]:
# Splitting dummy column on the kmOwnership

cars24_df[["km_driven", "dummy1"]]=cars24_df["dummy"].str.split("kmOwnership ",expand=True)

In [ ]:
# Splitting dummy1 column on the type

cars24_df[["ownership", "dummy2"]]=cars24_df["dummy1"].str.split("type ",expand=True)

In [24]:
# Replacing unnecessary characters

cars24_df["ownership"]=cars24_df["ownership"].str.replace("Fuel","")

In [ ]:
# Replacing unnecessary characters

cars24_df["Fuel_type"]=cars24_df["dummy2"].str.replace("']","")

In [ ]:
# Splitting payment's column on space

cars24_df[['EMI','Pay']]=cars24_df['payment'].str.split(' ',n=1,expand=True)

In [ ]:
# Replacing unnecessary characters 

cars24_df['EMI']=cars24_df['EMI'].str.replace("[","")

In [ ]:
# Changing datatype to string

cars24_df["EMI"] = cars24_df["EMI"].astype(str)

In [ ]:
# Replacing unnecessary character

cars24_df['EMI']=cars24_df['EMI'].str.replace("'₹","")

In [ ]:
# Replacing unnecessary character

cars24_df['Price']=cars24_df['dummy5'].str.replace("']","")

In [ ]:
# Fetching locations data 

cars24_df["location"] = cars24_df["location"].astype(str)
cars24_df['LOCATION'] = cars24_df['location'].str.strip("[]")
cars24_df['LOCATION1'] = cars24_df['LOCATION'].str.split("at:", expand=True)[1]
cars24_df['LOCATION'] = cars24_df['LOCATION1'].str.replace("'",' ')

In [ ]:
# Fetching price details

cars24_df["PRICE"] = cars24_df["Price"].str.split().str[-2]
cars24_df['Prices'] = cars24_df['Prices'].str.replace("h₹",' ')
cars24_df['Prices'] = cars24_df['Prices'].str.replace("k",'')

In [ ]:
# Droping unnecessary columns

cars24_df.drop(columns=["payment"],inplace=True)

In [ ]:
# Replacing unnecessary character

Cars_24['Monthly_EMI'] = Cars_24['Monthly_EMI'].str.replace("/month","")
Cars_24['Monthly_EMI'] = Cars_24['Monthly_EMI'].str.replace(",","")

In [ ]:
# Cleaning prices column

cars24_df["Prices"]=cars24_df["Price"].str[-12:]

In [ ]:
# Changing the datatype from string to float and int

Cars_24['KM_Driven'] = Cars_24['KM_Driven'].fillna(0).astype(int)
Cars_24['Monthly_EMI'] = Cars_24['Monthly_EMI'].fillna(0).astype(int)
Cars_24['Car_Price(in Lakhs)'] = Cars_24['Car_Price(in Lakhs)'].astype(float)

In [ ]:
# Save the dataframe as csv file

Cars_24.to_csv("cleaned_Cars24_data.csv", index=False)